<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Musics</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<h1>Add Music</h1>

<div>
	
		<form th:object="${music}" th:action="@{save}" action="#" method="post">
		  	<label for="Artist">Artist</label>
			<input type="text" id="Artist" th:field="*{Artist}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="Song">Song</label>
			<input type="text" id="Song" th:field="*{Song}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="Genre">Genre</label>
			<input type="text" th:field="*{Genre}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="Year">Year</label>
			<input type="text" id="Year" th:field="*{Year}" />
			<div style="clear: both; display: block; height: 10px;"></div>	
								

			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>



</form>
</div>
</body>
</html>