<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />   
<title>Edit Music</title>
 <style>
 
h1 {
font-size: 60px;
text-align: center;
font-family: Palace Script MT;
}
 
 button {
 background-color: hotpink;
border: none;
color: white;
margin-top: 10px;
padding: 10px 15px;
text-align: center;
display: inline-block;
font-size: 16px;
}
.edit {
text-align: center;
font-size: 18px;
}

.input {
border: 100px;
padding: 20px;
}

 </style>
</head>
<body>
<h1>Edit Music</h1>

<div class="edit">
	<form th:object="${music}" th:action="@{/save}" action="edit" method="post">
	
	
			<input type="hidden" th:field="*{musicId}"/>
		  	<label for="Artist">Artist</label>
			<input type="text" id="Artist" th:field="*{artist}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="Song">Song</label>
			<input type="text" id="Song" th:field="*{Song}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
				
			<label for="Year">Year</label>
			<input type="text" id="Year" th:field="*{Year}" />
			<div style="clear: both; display: block; height: 10px;"></div>	
			
		    <div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="genre">Genre</label>
			<select id="gere" th:field="*{genre}" class="form-control">
       		<option th:each="genre: ${genres}" th:value="${genre.genreId}" th:text="${genre.name}"></option>
    		</select>	
							

			<div style="clear: both; display: block; height: 10px;"></div>
			<button type="submit" value="Save">Save</button>
	
			</form>
			</div>
</body>
</html>